.App {
  text-align: center;
  background-color: pink;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.mainContainer{
  width: 500px;
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: deeppink;
  border-radius: 10px;
  padding:30px;
  box-shadow: 12px 12px 2px 1px deeppink;
}

.counter{
  border: 2px solid pink;
  margin: 0px 0px 20px 0px;
  padding: 0px 20px;
}

.counterButton{
  border: 2px solid pink;
  padding: 10px 20px;
}

.btnContainer{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: space-between;
}

